@page "/home"
@using TwitterClone.Components


<div class="page-wrapper">

    <div class="main-container">
        <div class="col left-bar">
            <a class="item-left item-logo" href="http://localhost:5241/home"><i class="fa-brands fa-x-twitter fa-1x"></i></a>
            <a class="item-left" href="http://localhost:5241/home"><IconWithName IconClass="fas fa-home fa-1.5x" Name="Inicio"></IconWithName></a>
            <a class="item-left" href="http://localhost:5241/home"><IconWithName IconClass="fas fa-magnifying-glass" Name="Explorar"></IconWithName></a>
            <a class="item-left" href="http://localhost:5241/home"><IconWithName IconClass="far fa-bell" Name="Notificaciones"></IconWithName></a>
            <a class="item-left" href="http://localhost:5241/home"><IconWithName IconClass="far fa-envelope" Name="Mensajes"></IconWithName></a>
            <a class="item-left" href="http://localhost:5241/home"><IconWithName IconClass="far fa-comments" Name="Comunidades"></IconWithName></a>
            <a class="item-left" href="http://localhost:5241/home"><IconWithName IconClass="far fa-user" Name="Perfil"/></a>
            <a class="item-left" href="http://localhost:5241/home"><IconWithName IconClass="fas fa-list-ul" Name="Más opciones"></IconWithName></a>

            <a class="post-button" href="http://localhost:5241/home"><p>Postear</p></a>
            
            <a class="item-left" href="http://localhost:5241/home"></a>
        </div>
        <div class="col feed-container"></div>
        <div class="col right-bar"></div>
    </div>
</div>